/* General Styles */
@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html{
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scroll-padding: 16px;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Afacad Flux";
}

body {
    background: linear-gradient(#054435, #00bf8f, #054435);
    color: #333;
    min-height: 100vh;
    padding:16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Header */
header {
    text-align: center;
    color:black;
    display:flex;
    flex-direction: column;
    gap:16px;
    margin-bottom: 16px;
}

h1 {
    width:100%;
    font-size: 28px;
    background-color: #caf4d3;
    border-radius: 8px;
    max-width: 1200px;
    margin:auto;

}

header div {
    font-size: 16px;
    width:100%;
    background-color: #caf4d3;   
    padding:16px;
    border-radius: 8px;
    max-width: 1200px;
    margin: auto;
    text-align: left;
    display:flex;
    flex-direction: column;
    gap:8px;
}

/* main styling */
main{
    width:100%;  
}

main>section{
    display: grid;
    grid-template-columns: 1fr;
    gap:16px;
    max-width: 1200px;
    margin:auto;
    
}

/* Form styling */

form{
    margin:0 auto;
    max-width: 400px;

}


h2{
    background-color: #caf4d3;
    text-align: center;
    width:100%;

}
.form-container h2{
    padding:16px;
}





.form-container {
    display: flex;
    flex-direction: column;
    width:100%;

    padding: 0px 16px 16px 16px;
    background-color: #caf4d3;
    border-radius: 8px;
    margin:0 auto;
    height:100%;
}

label {
    font-weight: bold;
    margin-bottom: 8px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 16px;
}
.form-btn-container{
    width:100%;
    position: relative;
    background-color: transparent;
    z-index: 3;
    height:40px;
    border-radius: 8px;
    overflow: hidden;
    display:flex;
    gap:16px;

}

.form-btn-container button {
    position: relative;
    font-size: 16px;
    width: 100%;
    height: 100%;
    border: 1px solid #054435;
    background-color:transparent;
    color: black;
    z-index: 5;
    border-radius: 8px;
    transition: all 0.3s linear;

  }
  
  .form-btn-container button:hover  {
    color: rgb(202, 222, 227);
    font-weight: bold;
    background-color: rgb(0, 97, 74);
  }

  /* Student records styling */
  .student-list button{
    border:none;
    background-color: transparent;
  }

  .student-list-container h2{
    border-radius: 8px 8px 0 0;
    padding:16px;
}
.student-list-container{
   
    width:100%;
    margin:0 auto;
    border-radius: 8px;
    overflow-y: hidden;
   
 }
.student-list {
    width: 100%;
    max-height:443px;
    border-radius: 0px 0px 8px 8px;
    scrollbar-width: thin;
    scrollbar-color:rgb(210, 210, 210) white;
    animation: extend 1s linear;
    /* display: none; */
}

@keyframes extend {
    from{
        max-height: 0;
    }
    to{
        max-height:379px
    }
}

.student-list table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
   
}

.student-list th, .student-list td {
    padding: 12px 5px 12px 5px;
    white-space: nowrap;
    text-align: center;
    max-width: 250px;
    overflow-x: auto;
    scrollbar-width: none;
    scrollbar-color:rgb(210, 210, 210) transparent;
    /* font-size: 14px; */
}

.student-list th {
    background-color: white;
    color: black;
    text-align: center;
    position:sticky;
    top:0;
    text-wrap: nowrap;
}

.student-list tr:nth-child(even) {
    background-color: #ffffff;
}
.student-list tr:nth-child(odd) {
    background-color: #e9e6e6;
}
/* .student-list tr> td:nth-child(even) {
    background-color: #e5e1e1;
} */

.student-list > tbody button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background: none;
}

.edit {
    color: blue;
    font-size: 20px;
}

.delete {
    color: red;
    font-size: 20px;
}

.hover-edit:hover {
   scale: 1.1;
}

.hover-delete:hover {
    scale: 1.1;
}

.student-list th{
    text-wrap: nowrap;
}

.activeEdit{
    display:none;
}

.hide-element{
    display:none;
}
.empty-view{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    /* gap:16px; */
    gap:0;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #caf4d3;
    padding:16px;
}
.svg-class{
    margin:0 auto;
}
.empty-content{
    text-align: center;
}

.empty-view{
    width:100%;
    height:100%;
    flex-direction: column;
    /* gap:16px; */
    gap:0;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #caf4d3;
    padding:16px;
}

/* Responsive */

@media screen and (min-width:992px) {
    main > section{
       grid-template-columns: 1fr 2fr;
    }
}
@media (max-width: 600px) {
    .container {
        width: 100%;
        padding: 15px;
    }
    .student-list{
        overflow-x: scroll;
    }

    .student-list th, .student-list td {
        font-size: 14px;
    }
}
